/*

!/.gitignore
!/.config/
/.config/*

# AwesomeWM
!/.config/awesome/
/.config/awesome/bling/
/.config/awesome/lain/

# NeoVim
!/.config/nvim/
/.config/nvim/plugged/

# Alacritty
!/.config/alacritty/
/.config/alacritty/*
!/.config/alacritty/alacritty.yml

# htop
!/.config/htop/

# fish
!/.config/fish/

# GTK
!/.config/gtk-3.0/

# Picom
!/.config/picom/

# XDG
!/.config/user-dirs.dirs
!/.config/user-dirs.locale
!/.config/mimeapps.list

# Python Poetry
!/.config/pypoetry/

# Zsh
!/.zshenv
!/.config/zsh/
/.config/zsh/.histfile
/.config/zsh/.zcompdump*
/.config/zsh/.zsh_history
/.config/zsh/tmux*

# Tmux
!/.tmux.conf
!/.config/tmux/
!/.config/tmux/*
/.config/tmux/plugins/
/.config/tmux/resurrect/

# Nano
!/.nanorc

# Xorg
!/.Xresources
!/.xprofile
!/.xinitrc
!/.gtkrc-2.0

.netrwhist
